.App {
  text-align: center;
}
.app__form{
padding: 20px;
position: fixed;
bottom: 0;
z-index: 1;
width: 100%;
margin: 20px;
background-color: #e9e9eb;
}
.app__formControl{
  display: flex !important;
flex-direction: row !important;
}
.app__buttonIcon{
flex: 0;
}
.app__inputIcon{
  flex: 1;

}
